<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Emisora</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="container">
    <h1>Bienvenido a FORRESTM</h1>
</header>
<main class="container mt-4">
    <section>
        <form th:action="@{/em/guardar}" th:object="${emisora}" method="POST">
            <div class="form-group">
                <label for="nombreEmisora">Nombre de la Emisora:</label>
                <input type="text" id="nombreEmisora" th:field="*{nombreEmisora}" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="modoTransmision">Modo de Transmisión:</label>
                <select id="modoTransmision" th:field="*{modoTransmision}" class="form-control" required>
                    <option value="AM">AM</option>
                    <option value="FM">FM</option>
                    <option value="Streaming">Streaming</option>
                </select>
            </div>

            <div class="form-group">
                <label for="tipoMusica">Tipo de Música:</label>
                <input type="text" id="tipoMusica" th:field="*{tipoMusica}" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </section>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
