<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Emisora</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>

<div class="container">
    <h2 class="mt-4 mb-3">Editar Emisora</h2>
    <form th:action="@{/em/editar/{id}(id=${emisora.id})}" th:object="${emisora}" method="POST">
        <input type="hidden" id="id_emisora" name="id_emisora" value="1">
        <div class="form-group">
            <label for="nombre_emisora">Nombre de la Emisora:</label>
            <input type="text" class="form-control" id="nombre_emisora" name="nombre_emisora" th:field="*{nombreEmisora}" value="Nombre de la Emisora">
        </div>
        <div class="form-group">
            <label for="modo_transmision">Modo de Transmisión:</label>
            <select class="form-control" id="modo_transmision" th:field="*{modoTransmision}" name="modo_transmision">
                <option value="AM">AM</option>
                <option value="FM">FM</option>
                <option value="Streaming">Streaming</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tipo_musica">Tipo de Música:</label>
            <input type="text" class="form-control" id="tipo_musica" th:field="*{tipoMusica}" name="tipo_musica" value="Tipo de Música">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
